<div class="container">
  <h2>Employee List</h2>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in empdata" ng-hide="emp==null || emp==''" >
        <td>{{emp.fname}}</td>
        <td>{{emp.lname}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.email}}</td>
        <td > <button ng-click="delEmp(emp._id)" type="button" class="btn btn-danger btn-sm">Delete</button></td>
        <td>  <button ng-click="editEmpMod(emp)" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Edit</button></td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <form name="editempf" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{editemp.fname}} {{editemp.lname}} - {{editemp._id}} </h4>
        </div>
        <div class="modal-body">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">First Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input lettersonly ng-model="editemp.fname" type="text" class="form-control" name="fname" id="fname"  placeholder="Enter your Frist Name" required />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Last Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input lettersonly ng-model="editemp.lname" type="text" class="form-control" name="lname" id="lname"  placeholder="Enter your Last Name" required />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Age</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input numbersonly ng-model="editemp.age" type="tel" maxlength="2" class="form-control" name="age" id="age"  placeholder="Enter your age" required />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input ng-model="editemp.email" type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" required />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Gender</label>
							<div class="cols-sm-12">
								<div class="input-group">
										<div class="radio col-sm-6">
										  <label>
											<input ng-model="editemp.gender"  type="radio" name="o1" value="male">
											Male
										  </label>
										</div>
										<div class="radio col-sm-6" style="margin-top: 9px;">
										  <label>
											<input ng-model="editemp.gender" type="radio" name="o1" value="female">
											Female
										  </label>
										</div>
																
								</div>
							</div>
						</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button data-dismiss="modal" ng-click="editEmployee(editemp)" type="button" class="btn btn-info" ng-disabled="editempf.fname.$invalid || editempf.lname.$invalid ||  
editempf.age.$invalid || editempf.email.$invalid">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>

  
</div>
