<!DOCTYPE html>
<html lang="en">
    <head> 
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">	
		<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
	</head>
	<body>
		
		
		
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Employee Registration</h1>
	               		<hr />
	               	</div>
	            </div> 
				<form class="main-login main-center" name ="employee" id="employee" novalidate >
					<div class="form-horizontal" >
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">First Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input ng-class="{invalid:employee.fname.$error.required}" lettersonly ng-model="emp.fname" type="text" class="form-control" name="fname" id="fname"  placeholder="Enter your Frist Name" required>
									<span class="input-group-addon" style="color:red;background-color: #fff">*</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Last Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input lettersonly ng-model="emp.lname" type="text" class="form-control" name="lname" id="lname"  placeholder="Enter your Last Name" required>
									<span class="input-group-addon" style="color:red;background-color: #fff">*</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Age</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input numbersonly ng-model="emp.age" type="tel" class="form-control"   maxlength="2" name="age" id="age"  placeholder="Enter your age (18-100)" required />
									<span class="input-group-addon" style="color:red;background-color: #fff">*</span>
								</div>					
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input ng-model="emp.email" type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" required />
									<span class="input-group-addon" style="color:red;background-color: #fff">*</span>
								</div>
							</div>

						</div>
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Gender</label>
							<div class="cols-sm-12">
								<div class="input-group cols-sm-12">
								   <div class="col-sm-12">
										<div class="radio col-sm-6">
										  <label>
											<input ng-model="emp.gender"  type="radio" name="o1" value="male">
											Male
										  </label>
										</div>
										<div class="radio col-sm-6">
										  <label>
											<input ng-model="emp.gender" type="radio" name="o1" value="female">
											Female
										  </label>
										</div>
									</div>
																
								</div>
							</div>
						</div>

						<div class="form-group">
							<button ng-click="AddEmp()" type="button" class="btn btn-primary btn-lg btn-block login-button" ng-disabled="employee.fname.$invalid || employee.lname.$invalid ||  
employee.age.$invalid || employee.email.$invalid">Add</button>
						</div>					
					</div>
				</form>

			</div>
		</div>
		
		
		
	</body>
</html>
